.page-header{
  .title{
    display: inline-block;
  }
}

.tasks-votation{
  font-size: 2.4rem;
  .steps{
    margin-left: 10px;
  }
}
.change-task{
  .confirm{
    margin-top: 25px;
  }
}
/*
 * Cards style
 */
div.card-container {
  margin-bottom: 20px;
}

div.card-container h2 {
  font-weight: bold;
  width: 100px;
  min-height: 70px;
  text-align: center;
}
@media(min-width: 992px){
  div.card-container h2 {
    width: 130px;
  }
}

div.card {
  border: 2px solid #0F1593;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
div.card .inner {
  margin: 3px 3px 0;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #0F1593, #161ec9);
  background-image: -webkit-linear-gradient(top, #0F1593, #161ec9);
  text-align: center;
}

a.card-label {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 50px 0 50px;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  a.card-label {
    padding: 75px 0 75px;
  }
}

div.card, div.card-flip {
  height: 150px;
  width: 100px;
}
@media (min-width: 992px) {
  div.card, div.card-flip {
    height: 200px;
    width: 130px;
  }
}


/* Card flip */
div.card-overview {
  perspective: 1000;
}
div.card.front, div.card.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 15px;
  left: 0;
}
div.deletable-card{
  position: relative;  
  height: 212px;
  width: 142px;
}
div.card.back {
  transform: rotateY(180deg);
}
div.card-flip{
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
div.card-flip.flipped {
  transform: rotateY(180deg);
}

/* Selectable card */
div.card.active {
  box-shadow: 0px 0px 20px 5px #c80020;
}
div.card.confirmed {
  box-shadow: 0px 0px 20px 5px #7ec500;
}
button.vote {
  width: 100%;
}
div.delete-member {
  top: 3px;
  left: 85px;
  height: 25px;
  width: 25px;
}

div.leave {
  top: 10px;
  left: 5px;
  height: 40px;
  width: 40px;
}

div.remove {
  display: block; 
  position: absolute; 
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  background: #fa623f;
  border-color: #fa5a35;
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
}

div.remove a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.delete-member:hover {
  /* color:??; color is missing here */
}

@media (min-width: 992px) {
  div.delete-member {
    left: 115px;
  }
}

/*User layout*/

/*Form Wizard*/
.steps-group{
  width: 100%;
  margin: auto;
}
.steps-title{
  text-align: center;
}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
