<div class="row">
  <% cards.each_with_index do |card, index|  %>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <div class="card-container">
        <div class="card selectable" id="card-<%= card.id %>">
          <div class="inner">
            <%= link_to card.title, 
                        vote_room_path(
                          card_id: card.id, 
                          id: session_vote.id, 
                          step_id: step.id, 
                          step_position: step_position,
                          task_id: session_vote.tasks.first), remote: true, class: "card-label", method: 'post' %>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
</div>
