<div class="row">
  <% cards.each do |card|  %>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <div class="card-container">
        <div class="card selectable">
          <div class="inner">
            <%= link_to card.title, 
                        vote_room_path(
                          card_id: card.id, 
                          id: session_vote.id, 
                          remote: true,
                          task_id: session_vote.tasks.first), class: "card-label", method: 'post' %>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
</div>
