<% @session_votes.each do |session_vote|  %>
  <hr />
  <p>Created_at: <%= session_vote.created_at  %></p>
  <p>Title: <%= session_vote.title  %></p>
  <%= link_to "Enter", room_path(session_vote.id) %>
  <hr />
<% end %>

<%= link_to 'New Room', new_room_path %>
