<li>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <a class="link-notification" href="<%= "#{notification.url}?notification_id=#{notification.id}" %>">
      <%= notification.title  %>
    </a> 
  </div>
</li>
